# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Test coverage
coverage/

# Logs
logs
*.log
npm-debug.log*

# Editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json
*.local

# Env
.env
.env.local
